#background-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */
  /* padding: 22px; */
}

#background {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  filter: blur(4px);
  padding: 22px;
}

#musicPlayer {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: rgba(203, 203, 203, 0.7);
  border-radius: 20px;
  width: 100%;
  gap: 20px;
  max-width: 1200px;
  max-height: 730px;
  padding: 46px;
  /* margin: 20px; */
}

#main-wr {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.fas {
  cursor: pointer;
}

@media (max-width: 750px) {
  #musicPlayer {
    padding: 18px;
  }

  #player-navBar {
    flex-direction: column;
    gap: 10px;
  }

  #main-wr {
    flex-direction: column;
  }
}
